// .img-container {
//     // margin-top: 70px;
//     height: 100%;
//     width: 45%;
//     background-color: yellow;
//     // z-index: 1;
// }

// .homepage {
//     display: flex;
// }

.me-image {
    align-self: end;
    // background-color: pink;
    max-height: 90%;
    width: 100%;
}

.container {

    .hidden {
        display: none;
    }

    // flex-wrap: wrap;
    // flex-direction: row-reverse;
    // overflow: scroll;
}