// .img-container {
//     // margin-top: 70px;
//     height: 100%;
//     width: 45%;
//     background-color: yellow;
//     // z-index: 1;
// }

// .homepage {
//     display: flex;
// }

.me-image {
    // align-self: end;
    //     // background-color: pink;
    max-height: 100%;
    // max-width: 100%;

    img {
        height: 90%;
        align-self: flex-end;
    }
}

// .container {

//     .hidden {
//         display: none;
//     }

//     flex-wrap: wrap;
//     // flex-direction: row-reverse;
//     // overflow: scroll;
// }