.App {
  /* 
---------------------------------------------
Colors
--------------------------------------------- 
*/

  .dark {
    background-color: #051A16;
    color: #F6F9F8;
  }

  .light {
    background-color: #F6F9F8;
    color: #051A16;
  }

  /* 
  ---------------------------------------------
  Reset CSS
  --------------------------------------------- 
  */

  * {
    // margin: 0 auto;
    // padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    // text-align: center;
  }

  a {
    display: block;
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  h2 {
    font-size: 38px;
    margin: 50px 0;
    font-weight: lighter;
    font-family: 'Zen Dots';
  }

  h3 {
    margin: 0;
    font-size: 32px;
  }

  /* 
  ---------------------------------------------
  Global Styles
  --------------------------------------------- 
  */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .zenDots {
    font-family: 'Zen Dots';
  }

  button {
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;

    &.btn-1 {
      background-color: #F6F9F8;
      color: #F1875E;
    }

    &.btn-2 {
      background-color: #F1875E;
      color: #F6F9F8;
    }
  }

  section {
    margin: 0 auto;
    // padding: 20px;
    min-height: 50vh;
    // max-height: 600px;
    width: 80%;
    max-width: 1232px;
    // border: 1px solid #051A16;

    &.top {
      margin-top: 70px;
    }

    /* 
    ---------------------------------------------
    breakpoint 1024px
    --------------------------------------------- 
    */
    @media (max-width: 1024px) {

      border: purple solid 1px;
      max-width: 976px;
      margin: auto;

    }

    /* 
    ---------------------------------------------
    breakpoint 768px
    --------------------------------------------- 
    */
    @media (max-width: 768px) {

      border: blue solid 1px;
      max-width: 736;
      margin: auto;

    }

    /* 
    ---------------------------------------------
    breakpoint 480px
    --------------------------------------------- 
    */
    @media (max-width: 480px) {

      border: green solid 1px;
      max-width: 90%;
      margin: auto;
      padding-left: 0;
      padding-right: 0;

    }
  }


  /* 
  ---------------------------------------------
  slide animations
  --------------------------------------------- 
  */
  @keyframes slideOut {
    0% {
      left: 0px;
    }

    100% {
      left: 150%;
    }
  }

  .slideOut {
    animation-name: slideOut;
    animation-duration: 2s;
    animation-delay: 3s;
  }

  @keyframes slideIn {
    0% {
      left: 150%;
    }

    100% {
      left: 0px;
    }
  }

  .slideIn {
    animation-name: slideIn;
    animation-duration: 2s;
    animation-delay: 3s;
  }
}