.App {
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  // background-color: rgba(5, 26, 22, .8);
  // background: linear-gradient(to right, rgba(5, 26, 22, .8) 45%, #051A16 45%);
  // background: linear-gradient(to left, rgba(5, 26, 22, .8) 55%, #051A16 55%);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 55%;
    width: 45%;
    height: 100%;
    background-color: #354744;
    // border-bottom-right-radius: 30vh;
    // border: turquoise solid 1px;
    // z-index: 6;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 100%;
    width: 55%;
    background-color: #051a16;
    // border: red solid 1px;
    // background-color: yellow;
    // border-top-left-radius: 30vh;
    // opacity: .2;
    z-index: -1;
  }

  .zenDots {
    font-family: 'Zen Dots';
  }

  /* 
  ---------------------------------------------
  Buttons
  --------------------------------------------- 
  */

  button {
    border-radius: 1.5rem;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      // background: linear-gradient(to right, #F6F9F8, #051A16);
    }

    &.btn-1 {
      background-color: #F6F9F8;
      color: #F1875E;
    }

    &.btn-2 {
      background-color: #051A16;
      color: #F6F9F8;

      &:hover {
        background-color: #60b9a9;
      }
    }
  }

  /* 
  ---------------------------------------------
  Page Container
  --------------------------------------------- 
  */

  .container {
    // background-color: #F1875E;
    position: relative;
    margin: 0;
    width: 100%;
    // max-width: 1700px;
    // height: 100%;
    // background-color: #051A16;
    color: #F6F9F8;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: turquoise dashed 3px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 55%;
      width: 45%;
      height: 100%;
      background-color: #051A16;
      border-bottom-right-radius: 30vh;
      // border: turquoise solid 1px;
      // z-index: 6;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 45%;
      height: 100%;
      width: 55%;
      background-color: #354744;
      // border: red solid 1px;
      // background-color: yellow;
      border-top-left-radius: 30vh;
      // opacity: .2;
      // z-index: 1;
    }
  }

  /* 
  ---------------------------------------------
  Component Section
  --------------------------------------------- 
  */

  section {
    // border: red solid 1px;
    height: 100%;
    // width: 50%;
    display: flex;
    // align-items: center;
    // justify-content: center;
  }

  /* 
  ---------------------------------------------
  breakpoint 1024px
  --------------------------------------------- 
  */
  @media (max-width: 1024px) {
    * {
      font-size: calc(16px + 6 * ((100vw - 500px) / 1024));
    }

    section {
      border: purple solid 1px;
      max-width: 976px;
      margin: auto;
    }
  }

  /* 
  ---------------------------------------------
  breakpoint 768px
  --------------------------------------------- 
  */
  @media (max-width: 768px) {
    * {
      font-size: calc(16px + 6 * ((100vw - 300px) / 768));
    }

    section {
      border: blue solid 1px;
      max-width: 736px;
      margin: auto;
    }
  }

  /* 
  ---------------------------------------------
  breakpoint 480px
  --------------------------------------------- 
  */
  @media (max-width: 480px) {
    * {
      font-size: calc(16px + 6 * ((100vw - 200px) / 480));
    }

    section {
      border: green solid 1px;
      max-width: 90%;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }



  /* 
  ---------------------------------------------
  slide animations
  --------------------------------------------- 
  */
  // @keyframes slideOut {
  //   0% {
  //     left: 0px;
  //   }

  //   100% {
  //     left: 150%;
  //   }
  // }

  // .slideOut {
  //   animation-name: slideOut;
  //   animation-duration: 2s;
  //   animation-delay: 3s;
  //   animation-fill-mode: forwards;
  // }

  // @keyframes slideIn {
  //   0% {
  //     left: 150%;
  //   }

  //   100% {
  //     left: 0px;
  //   }
  // }

  // .slideIn {
  //   animation-name: slideIn;
  //   animation-duration: 2s;
  //   animation-delay: 3s;
  //   animation-fill-mode: forwards;
  // }
}