.slider {
    background-color: pink;
    min-height: 10rem;
    max-height: 50%;

    .introduction {
        width: 100%;
        background-color: aquamarine;
        // justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 3.5rem;
            margin: 0
        }
    }
}