.introduction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    // border: yellow dashed 1px;

    .img-wrapper {
        // border: yellow dashed 1px;
        align-self: flex-end;
    }

    .text {
        height: fit-content;
        width: fit-content;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: #051A16;

        p {
            width: 500px;
            margin: 0;
            text-align: start;
            // border: yellow dashed 1px;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;

        .text {
            align-items: center;
            width: 100%;

            p {
                text-align: center;
            }
        }
    }

    @media (max-width: 480px) {
        img {
            max-width: 100%;
        }

        .text {
            p {
                width: 100%;
                word-break: normal;
            }
        }
    }
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        font-size: 40px;
        font-style: italic;
    }
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        font-size: 24px;
        line-height: 125%;

        p {
            text-align: justify;
        }
    }
}

.stack-wrapper {
    // border: yellow dashed 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    ul {
        font-size: 32px;

        li {
            list-style: none;
            line-height: 150%;
        }
    }
}