// .text {
//     height: fit-content;
//     width: fit-content;
//     font-size: 50px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     // background-color: #051A16;
//     overflow: hidden;
//     // border: turquoise dotted 1px;

//     p {
//         max-width: 500px;
//         margin: 0;
//         text-align: start;
//         font-size: 3.5rem;
//         position: relative;
//         // border: yellow dashed 1px;
//     }
// }

/* 
---------------------------------------------
Introduction
 --------------------------------------------- 
*/

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    div {
        max-width: 35rem;
    }
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        font-size: 2.5rem;
        font-style: italic;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;

    div {
        // font-size: 3rem;
        // line-height: 125%;

        p {
            text-align: justify;
            font-size: 1.7rem;
        }
    }
}

.stack-wrapper {
    // border: yellow dashed 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    ul {
        // font-size: 32px;

        li {
            font-size: 2rem;
            list-style: none;
            line-height: 150%;
        }
    }
}