.introduction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    // border: yellow dashed 1px;

    .img-wrapper {
        // border: yellow dashed 1px;
        align-self: flex-end;
    }

    .text {
        height: fit-content;
        width: fit-content;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: #051A16;

        p {
            width: 350px;
            margin: 0;
            text-align: start;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;

        .text {
            align-items: center;
            width: 100%;

            p {
                text-align: center;
            }
        }
    }

    @media (max-width: 480px) {
        img {
            max-width: 100%;
        }

        .text {
            p {
                width: 100%;
                word-break: normal;
            }
        }
    }
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        font-size: 40px;
        font-style: italic;
    }
}