.proj-detail-wrapper {
    .screenshot-wrapper {
        display: flex;
        justify-content: center;
        gap: 50px;
        // border: red dashed 1px;
        // max-width: 100vh;
        // height: 200px;
    }

    .screenshot {
        max-width: 30%;
        // max-height: 100%;
        border-radius: 25px;
        // border: blue solid 1px;
    }

}

.project-card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // border: dotted pink 1px;

    .latesProj {
        margin-bottom: 50px;
    }

    .project-wrapper {
        display: flex;
        gap: 50px;
        // border: yellow dashed 1px;
        // height: 100%;

        &.even {
            flex-direction: row-reverse;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            width: 50%;
            // height: auto;
            border-radius: 25px;
            // border: red dotted 1px;

            &.info {
                padding: 20px 10px;
                text-align: left;
                // border: yellow 1px solid;
            }
        }

        img {
            max-width: 100%;
            height: 100%;
            border-radius: 25px;
            align-self: end;
            // opacity: .25;
            // border: yellow 1px solid;
        }

        // &:hover {
        //     img {
        //         opacity: 1;
        //     }
        // }
    }

    .short-description {
        font-size: 24px;
    }

    &:hover {
        img {
            filter: none;
        }
    }

    @media (max-width: 1024px) {
        .project-wrapper {
            flex-direction: column-reverse;
            align-items: center;

            &>div {
                align-items: center;

                &.info {
                    text-align: justify;
                    width: 100%;
                }
            }

            img {
                align-self: center;
            }
        }
    }
}